<!DOCTYPE html>
<html>

<head>
    <title>News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/news.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Title</th>
                <!-- new column -->
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.time }}</td>
                <td><a href="{{ article.links }}">{{ article.title }}</a></td>
                <!-- new column -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>